@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>Cardistry Cloud ist eine Plattform für Cardmagicians. Hier könnt ihr eure Tricks und Skills mit anderen Magicians teilen und von deren Wissen profitieren. Viel Spass!</p>
