@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    Joel Brodbeck<br />
    Seestrasse 38a<br />
    3700 Spiez<br />
    <abbr title="Phone">P: 079 323 50 58</abbr>

</address>

<address>
    <strong>Homepage:</strong>   <a href="http://joelbrodbeck.com/">joelbrodbeck.com</a><br />
    <strong>Email:</strong> <a href="mailto:joel.brodbeck@bwdbern.ch">joel.brodbeck@bwdbern.ch</a>
</address>
